In [4]:
import pandas as pd
import numpy as np

In [5]:
autos = pd.read_csv("autos.csv", encoding = "Latin-1")

In [6]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

There are a number of issues with the data as it currently exists. Firstly, the column titles are not standardised(using camelcase rather than snakecase). They are internally consistent, but it would nonetheless be nice to alter them to make the data easier to manage. Secondly, we'll need to be aware of the null values in the data moving forward. Thirdly, some columns are types which are not ideal, such as price and odometer being objects rather than integers or floats. It would be  nice to fix this. Finally, the text is in German, which is not an issue that necessarily needs fixing, although we will have to be aware of German characters present in strings that are not in the English language.

In [7]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [8]:
modified_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'number_of_pictures', 'postal_code',
       'last_seen']
autos.columns = modified_columns

In [9]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

The first issue outlined above has been fixed; column names have been changed to snakecase and some names have been slightly altered.

In [10]:
autos.describe(include = "all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Titles are looking better, but we still need to fix the price and odometer columns so that they're numeric values rather than text.

In [11]:
autos["price"] = autos["price"].str.replace("$", "").str.replace(",", "").astype(float)
autos["odometer"] = autos["odometer"].str.replace("km", "").str.replace(",", "").astype(float)
autos = autos.rename(index = str, columns = {"odometer": "odometer_km"})

In [14]:
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,7900.0,test,bus,2006,automatik,150,voyager,150000.0,4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,300.0,test,limousine,1995,manuell,90,golf,150000.0,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,1990.0,control,limousine,1998,manuell,90,golf,150000.0,12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,250.0,test,NaN,2000,manuell,0,arosa,150000.0,10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,590.0,control,bus,1997,manuell,90,megane,150000.0,7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000.0,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,350.0,control,NaN,2000,NaN,0,NaN,150000.0,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299.0,control,kleinwagen,2010,automatik,71,fortwo,50000.0,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,1350.0,control,limousine,1999,manuell,101,a3,150000.0,11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,3999.0,test,kleinwagen,2007,manuell,75,clio,150000.0,9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,18900.0,test,coupe,1982,automatik,203,NaN,80000.0,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,350.0,test,kombi,1999,manuell,101,vectra,150000.0,5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,5500.0,test,coupe,1990,manuell,205,scirocco,150000.0,6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,300.0,control,bus,1995,manuell,150,3er,150000.0,0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,4150.0,control,suv,2004,manuell,124,andere,150000.0,2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,3500.0,test,kombi,2003,manuell,131,a4,150000.0,5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,41500.0,test,cabrio,2004,manuell,320,911,150000.0,4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,25450.0,control,cabrio,2015,manuell,184,cooper,10000.0,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,7999.0,control,bus,2010,manuell,120,NaN,150000.0,2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500.0,control,limousine,2014,automatik,306,5er,30000.0,12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,90.0,control,kombi,1996,manuell,116,NaN,150000.0,4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777.0,control,kleinwagen,1992,manuell,54,polo,125000.0,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0.0,control,NaN,2005,NaN,0,NaN,150000.0,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,5250.0,control,kleinwagen,2007,manuell,110,cooper,150000.0,7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,4999.0,test,kombi,2004,automatik,204,e_klasse,150000.0,10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,15800.0,control,bus,2010,automatik,136,c4,60000.0,4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,950.0,test,kleinwagen,2001,manuell,50,lupo,150000.0,4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,3300.0,control,bus,2004,automatik,150,vito,150000.0,10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,6000.0,control,cabrio,2004,manuell,163,slk,150000.0,11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0.0,control,cabrio,1983,manuell,70,golf,150000.0,2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,9700.0,control,kleinwagen,2012,automatik,88,jazz,100000.0,11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,5900.0,test,kombi,1992,automatik,150,80,150000.0,12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,5500.0,control,limousine,2003,manuell,116,c_klasse,150000.0,2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,900.0,control,limousine,1996,automatik,136,e_klasse,150000.0,9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000.0,test,kleinwagen,2011,manuell,90,polo,70000.0,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400.0,control,kombi,1995,manuell,105,escort,125000.0,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,2000.0,control,kombi,1998,manuell,115,astra,150000.0,12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950.0,control,kleinwagen,2004,manuell,0,fabia,90000.0,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,600.0,test,kleinwagen,1999,manuell,101,focus,150000.0,4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0.0,test,NaN,2000,NaN,0,NaN,150000.0,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,1000.0,control,NaN,1995,automatik,0,NaN,150000.0,0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,15900.0,control,limousine,2010,automatik,218,300c,125000.0,11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,21990.0,control,limousine,2013,manuell,150,a3,50000.0,11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,9550.0,control,coupe,2001,manuell,231,3er,150000.0,10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,150.0,test,kleinwagen,1997,manuell,0,polo,150000.0,5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,17500.0,test,limousine,2012,manuell,156,a_klasse,30000.0,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,500.0,control,NaN,2016,manuell,0,twingo,150000.0,0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800.0,control,kleinwagen,2009,manuell,120,andere,125000.0,9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,1650.0,control,kleinwagen,1997,manuell,0,NaN,150000.0,7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,5000.0,control,kombi,2001,automatik,299,a6,150000.0,1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatik,239,q5,100000.0,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,cabrio,1996,manuell,75,astra,150000.0,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,cabrio,2014,automatik,69,500,5000.0,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,kombi,2013,manuell,150,a3,40000.0,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manuell,101,vectra,150000.0,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [15]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [16]:
autos["odometer_km"].value_counts(ascending = False).head(5)

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
Name: odometer_km, dtype: int64

In [17]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

There are some clear outliers here. The minimum of 0, and the maximum of 10 million are obviously unusual, so let's look a little closer at the data around these regions.

In [21]:
autos_under_100 = autos[autos["price"] < 100]
autos_under_100["price"].describe()

count    1762.000000
mean        5.632804
std        18.374263
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        99.000000
Name: price, dtype: float64

So out of 50,000 sales, a little over 3% are below 100. We can reasonably cut these.

In [22]:
autos = autos[autos["price"] >= 100]
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,number_of_pictures,postal_code
count,4.823800e+04,48238.000000,48238.000000,48238.000000,48238.000000,48238.0,48238.000000
mean,1.019927e+04,2004.728534,117.692483,125915.149882,5.801236,0.0,50988.722045
std,4.898087e+05,87.885189,201.207082,39547.782619,3.677147,0.0,25739.558428
min,1.000000e+02,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.250000e+03,1999.000000,73.000000,125000.000000,3.000000,0.0,30823.000000
50%,3.000000e+03,2004.000000,107.000000,150000.000000,6.000000,0.0,49716.000000
75%,7.499000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71672.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

What about outliers on the high end for prices?

In [23]:
autos_above_100000 = autos[autos["price"] > 100000]
autos_above_100000["price"].describe()

count    5.300000e+01
mean     4.013343e+06
std      1.435784e+07
min      1.049000e+05
25%      1.290000e+05
50%      1.800000e+05
75%      9.999900e+05
max      1.000000e+08
Name: price, dtype: float64

Only 53 are above 100000, so let's cut those.

In [24]:
autos = autos[autos["price"] <= 100000]
autos["price"].describe()

count    48185.000000
mean      5796.099741
std       7525.532405
min        100.000000
25%       1250.000000
50%       3000.000000
75%       7499.000000
max      99900.000000
Name: price, dtype: float64

Next, let's clean up the various date columns in the data. First, we'll trim down the date_crawled, last_seen, and ad_created columns so that we're just looking at days.

In [25]:
autos["date_crawled"] = autos["date_crawled"].str[:10]
autos["ad_created"] = autos["ad_created"].str[:10]
autos["last_seen"] = autos["last_seen"].str[:10]

Now, let's take a look at each of these columns and see how the data stored within them is distributed.

In [26]:
autos["date_crawled"].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.025340
2016-03-06    0.014050
2016-03-07    0.036090
2016-03-08    0.033164
2016-03-09    0.033019
2016-03-10    0.032313
2016-03-11    0.032624
2016-03-12    0.036920
2016-03-13    0.015690
2016-03-14    0.036692
2016-03-15    0.034305
2016-03-16    0.029470
2016-03-17    0.031504
2016-03-18    0.012867
2016-03-19    0.034762
2016-03-20    0.037813
2016-03-21    0.037190
2016-03-22    0.032811
2016-03-23    0.032292
2016-03-24    0.029449
2016-03-25    0.031504
2016-03-26    0.032292
2016-03-27    0.031109
2016-03-28    0.034949
2016-03-29    0.034139
2016-03-30    0.033703
2016-03-31    0.031856
2016-04-01    0.033662
2016-04-02    0.035633
2016-04-03    0.038601
2016-04-04    0.036567
2016-04-05    0.013054
2016-04-06    0.003175
2016-04-07    0.001390
Name: date_crawled, dtype: float64

In [27]:
autos["ad_created"].value_counts(normalize = True, dropna = False).sort_index()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000042
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000042
2016-02-05    0.000042
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000042
2016-02-14    0.000042
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000042
2016-02-19    0.000062
2016-02-20    0.000042
2016-02-21    0.000062
                ...
2016-03-09    0.033122
2016-03-10    0.032022
2016-03-11    0.032936
2016-03-12    0.036754
2016-03-13    0.017059
2016-03-14    0.035322
2016-03-15    0.034035
2016-03-16    0.029968
2016-03-17    0.031151
2016-03-18    0.013573
2016-03-19    0.033641
2016-03-20    0.037875
2016-03-21    0.037418
2016-03-22    0.032624
2016-03-23    0.032126
2016-03-24    0.029387
2016-03-25    0.031628
2016-03-26    0.032354
2016-03-27    0.031026
2016-03-28    0.035052
2016-03-29    0.034077
2016-03-30    0.033537
2016-03-31    0.031898
2016-04-01    0.033641
2016-04-02    0.035322
2016-04-03    0.038850
2016-04-04    0.036920
2016-04-05    0.011788
2016-04-06    0.003258
2016-04-07    0.001245
Name: ad_created, Length: 76, dtype: float64

In [28]:
autos["last_seen"].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.001079
2016-03-06    0.004317
2016-03-07    0.005437
2016-03-08    0.007326
2016-03-09    0.009567
2016-03-10    0.010646
2016-03-11    0.012411
2016-03-12    0.023804
2016-03-13    0.008882
2016-03-14    0.012639
2016-03-15    0.015876
2016-03-16    0.016437
2016-03-17    0.028121
2016-03-18    0.007305
2016-03-19    0.015773
2016-03-20    0.020650
2016-03-21    0.020546
2016-03-22    0.021376
2016-03-23    0.018574
2016-03-24    0.019736
2016-03-25    0.019114
2016-03-26    0.016623
2016-03-27    0.015544
2016-03-28    0.020836
2016-03-29    0.022310
2016-03-30    0.024717
2016-03-31    0.023846
2016-04-01    0.022870
2016-04-02    0.024883
2016-04-03    0.025132
2016-04-04    0.024551
2016-04-05    0.124935
2016-04-06    0.221999
2016-04-07    0.132137
Name: last_seen, dtype: float64

There doesn't seem to be anything too interesting above, except for the fact that the number of ads created on each day seemed to jump massively between February and March of 2016.

In [29]:
autos["registration_year"].describe()

count    48185.000000
mean      2004.730456
std         87.932039
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Moving on to data on registration year, we can clearly see some incorrect entries, such as the min and max values of 1000 and 9999 respectively. The various quartile values seem reasonable, however, as does the mean.

According to the wikipedia page on German vehicle registration plates, the first licence plates weren't required until 1906. Since we also know that a car can't be registered after the date on which it was listed on ebay, we can exclude any registration years after 2016, as well. So, let's get rid of these entries from our dataset.

In [30]:
autos = autos[autos["registration_year"].between(1906, 2016)]
autos["registration_year"].describe()

count    46313.000000
mean      2002.937750
std          7.118096
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

In [31]:
autos["registration_year"].value_counts(normalize = True).sort_index()

1910    0.000043
1927    0.000022
1929    0.000022
1931    0.000022
1934    0.000043
1937    0.000086
1938    0.000022
1939    0.000022
1941    0.000043
1943    0.000022
1948    0.000022
1950    0.000022
1951    0.000022
1952    0.000022
1953    0.000022
1954    0.000043
1955    0.000043
1956    0.000086
1957    0.000043
1958    0.000086
1959    0.000130
1960    0.000475
1961    0.000130
1962    0.000086
1963    0.000173
1964    0.000259
1965    0.000367
1966    0.000475
1967    0.000561
1968    0.000540
          ...
1987    0.001555
1988    0.002850
1989    0.003692
1990    0.007169
1991    0.007298
1992    0.007903
1993    0.009069
1994    0.013517
1995    0.025738
1996    0.029257
1997    0.041543
1998    0.050461
1999    0.062164
2000    0.067001
2001    0.056744
2002    0.053484
2003    0.058148
2004    0.058277
2005    0.062855
2006    0.057608
2007    0.049058
2008    0.047676
2009    0.044912
2010    0.034180
2011    0.034915
2012    0.028178
2013    0.017209
2014    0.014251
2015    0.008119
2016    0.025824
Name: registration_year, Length: 78, dtype: float64

It appears that most of the cars from our dataset were registered after 1990. To check, let's see what proportion of the cars in our dataset have been registered in or after 1999.

In [32]:
registered_after_1990 = autos.loc[autos["registration_year"] >= 1990, "registration_year"]

In [33]:
registered_after_1990.describe()

count    45042.000000
mean      2003.602660
std          5.751876
min       1990.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

As expected, the vast majority were registered in or after 1990, more than 90%, in fact.

Now, we'll take a look at the data on the car's brands.

In [35]:
autos["brand"].value_counts(ascending = False, normalize = True).head(10)

volkswagen       0.211582
bmw              0.110207
opel             0.107335
mercedes_benz    0.096668
audi             0.086822
ford             0.069872
renault          0.047114
peugeot          0.029884
fiat             0.025630
seat             0.018267
Name: brand, dtype: float64

So the most popular brand is Volkswagen, followed by BMW, Opel, Mercedes Benz, and finally Audi. Let's aggregate the price data on some of these brands to find the mean price of a listing for each of the cars. We can combine boolean indexing with a loop here to aggregate this data from our dataset.

In [36]:
brands = ["volkswagen", "bmw", "opel", "mercedes_benz", "audi"]

brand_price_mean = {}

for b in brands:
    selected_rows = autos[autos["brand"] == b]
    mean_price = selected_rows["price"].mean()
    brand_price_mean[b] = mean_price
    
print(brand_price_mean)

{'volkswagen': 5436.950096948668, 'bmw': 8249.652429467085, 'opel': 3005.4960772480385, 'mercedes_benz': 8573.484922939468, 'audi': 9339.529967669734}

On average, BMWs, Mercedes Benzs, and Audis sell for the highest prices, with Audis selling for over 9000 on average. Comparatively, Volkswagens, at 5436, and Opels, at 3005, are much cheaper.

But, how do we know that the price differences we've just observed are not due to some other factor, such as the mileage of the cars?

Let's aggregate the average km travelled for each of these brands and see how the km travelled for the more expensive brands compares to those that are less expensive.

In [37]:
brand_km_mean = {}

for b in brands:
    selected_rows = autos[autos["brand"] == b]
    mean_km = selected_rows["odometer_km"].mean()
    brand_km_mean[b] = mean_km

print(brand_km_mean)
print(brand_price_mean)

{'volkswagen': 128799.87753852434, 'bmw': 132756.66144200627, 'opel': 129384.42969221485, 'mercedes_benz': 131088.89881617154, 'audi': 129276.29942800298}
{'volkswagen': 5436.950096948668, 'bmw': 8249.652429467085, 'opel': 3005.4960772480385, 'mercedes_benz': 8573.484922939468, 'audi': 9339.529967669734}

As it turns out, the mean km travelled for each of the brands is relatively similar, so the km travelled doesn't account for the difference in price.

This method for determining whether a factor affects the price is fine for now, but if we had more data it would be less easy to see. If we wanted to compare an additional factor as well, it would become even more difficult. We'd really like another way of visualizing our results so that we can more easily see whether any particular factor affects price. While we might want to do this in a graph later, for now we can use the series and dataframe constructors to group the results together into a single dataframe.

In [38]:
brand_price_mean_series = pd.Series(brand_price_mean)
brand_km_mean_series = pd.Series(brand_km_mean)
print(brand_price_mean_series)

volkswagen       5436.950097
bmw              8249.652429
opel             3005.496077
mercedes_benz    8573.484923
audi             9339.529968
dtype: float64

In [39]:
brand_dataframe = pd.DataFrame(brand_price_mean_series, columns = ["mean_price"])
brand_dataframe["mean_km_travelled"] = brand_km_mean_series
brand_dataframe

                mean_price  mean_km_travelled
volkswagen     5436.950097      128799.877539
bmw            8249.652429      132756.661442
opel           3005.496077      129384.429692
mercedes_benz  8573.484923      131088.898816
audi           9339.529968      129276.299428

Now, if we wanted to see better whether the km travelled affected price, we could divide the first column by the second. If the km travelled was the sole factor influencing price, then we should get the same number for each calculation.

In [40]:
brand_price_over_km = {}

price = brand_dataframe.loc["volkswagen", "mean_price"]

for b in brands:
    price = brand_dataframe.loc[b, "mean_price"]
    km_travelled = brand_dataframe.loc[b, "mean_km_travelled"]
    brand_price_over_km[b] = price/km_travelled

brand_price_over_km_series = pd.Series(brand_price_over_km)    
brand_dataframe["price_over_km"] = brand_price_over_km_series

brand_dataframe

                mean_price  mean_km_travelled  price_over_km
volkswagen     5436.950097      128799.877539       0.042212
bmw            8249.652429      132756.661442       0.062141
opel           3005.496077      129384.429692       0.023229
mercedes_benz  8573.484923      131088.898816       0.065402
audi           9339.529968      129276.299428       0.072245

Since the price_over_km varies between brands, we can conclude that the km travelled is not the determining factor for the brands price (although that does not mean it does not have some impact). If we wanted to see this, we'd need to control for the brand variable and calculate how much price changes with a change in km travelled. We could even see whether the relationship between km travelled and price is different for each brand. But we'll leave this project here for now.